
/**  base **/
h1 {
	text-align: center;
	margin-bottom: 20px;
}

p {
	padding: 10px 10px 10px 10px;;
	margin: 0;
}

div {
	border: 0;
	padding 0;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#div1 {
	position: relative;
}
#Chicken-label {
	position: absolute;
	right: 0;
	text-align: center;
	background: yellow;
	border: 1px solid black;
	padding: 0;
	width: 30%;
	box-sizing: border-box;
	font-size: 120%;
	}
#Beef-label {
	position: absolute;
	right: 0;
	text-align: center;
	background: aquamarine;
	border: 1px solid black;
	padding: 0;
	margin: 0;
	width: 30%;
	box-sizing: border-box;
	font-size: 120%;
}
#Sushi-label {
	position: absolute;
	right: 0;
	top: 0px;
	text-align: center;
	background: pink;
	border: 1px solid black;
	padding: 0;
	margin: 0;
	width: 30%;
	box-sizing: border-box;
	font-size: 120%;
}

/** large devices **/
@media (min-width: 992px) {
	#chicken {
		border: 1px solid black;
		margin-left: 10px;
		background: papayawhip;
		width: 25%;
		height: 190px;
		position: absolute;
		top: 0;
		left: 5%;
	}
	#beef {
		border: 1px solid black;
		background: papayawhip;
		width: 25%;
		height: 190px;
		position: absolute;
		top: 0;
		left: 35%;
	}
	#sushi {
		border: 1px solid black;
		background: papayawhip;
		width: 25%;
		height: 190px;
		position: absolute;
		top: 0;
		left: 65%;
	}
}

/** medium devices **/
@media (min-width: 768px) and (max-width: 991px) {
	#chicken {
		border: 1px solid black;
		background: papayawhip;
		width: 35%;
		height: 190px;
		position: absolute;
		top: 0;
		left: 5%;
	}
	#beef {
		border: 1px solid black;
		background: papayawhip;
		width: 35%;
		height: 190px;position: absolute;
		top: 0;
		left: 55%;
	}
	#sushi {
		border: 1px solid black;
		background: papayawhip;
		width: 85%;
		height: 110px;
		position: absolute;
		top: 250px;
		left: 5%;
	}
}

/** small devices **/
@media (max-width: 767px) {
	#chicken {
		border: 1px solid black;
		background: papayawhip;
		width: 80%;
		height: 190px;
		position: absolute;
		left: 10%;
	}
	#beef {
		border: 1px solid black;
		background: papayawhip;
		width: 80%;
		height: 190px;
		position: absolute;
		top: 250px;
		left: 10%;
	}
	#sushi {
		border: 1px solid black;
		background: papayawhip;
		align-content: center;
		width: 80%;
		height: 190px;
		position: absolute;
		top: 500px;
		left: 10%;
	}
}

